doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Ogani Template')
        meta(name='keywords', content='Ogani, unica, creative, html')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Food Court
        // Google Font
        link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/nice-select.css', type='text/css')
        link(rel='stylesheet', href='css/jquery-ui.min.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/style.css', type='text/css')
    body
        // Page Preloder
        
        // Humberger Begin
        
        // Humberger End
        // Header Section Begin
        header.header
            .container
                .row
                    .col-lg-3
                        .header__logo
                           .navbar-brand(href='#' , style ='font-size : 2rem') FOOD COURT
                    .col-lg-6
                        .header__logo
                            .hero__search.hero__search__form
                                form(action='/search')
                                    //- .hero__search__categories
                                    //-     span.arrow_carrot-down
                                    input(type='text',name = 'q', placeholder='What do you need?', value= inputs?inputs :"")
                                    button.site-btn(type='submit') SEARCH
                    .col-lg-3
                        .header__cart
                            ul
                                li
                                    a(href='/cart')
                                        i.fa.fa-shopping-bag
                                        span= 0
                            .header__cart__price
                                | item: 
                                span=  '$' + 0
              
        // Header Section End
        // Hero Section Begin
        
        // Hero Section End
        // Breadcrumb Section Begin
        section.breadcrumb-section.set-bg(data-setbg='img/breadcrumb.jpg')
            .container
                .row
                    .col-lg-12.text-center
                        .breadcrumb__text
                            h2 Shopping Cart
                            .breadcrumb__option
                                a(href='./index.html') Home
                                span Shopping Cart
        // Breadcrumb Section End
        // Shoping Cart Section Begin
        section.shoping-cart.spad
            -var total = 0;
            .container
                .row

                    .col-lg-12
                        .shoping__cart__table
                            table
                                thead
                                    tr
                                        th.shoping__product Products
                                        th Price
                                        th Quantity
                                        th Total
                                        th
                                tbody
                                  

                .row
                    .col-lg-12
                        .shoping__cart__btns
                            a.primary-btn.cart-btn(href='/') CONTINUE SHOPPING
                            a.primary-btn.cart-btn.cart-btn-right(href='update')
                                span.icon_loading
                                |  Upadate Cart
                    .col-lg-6
                       
                    .col-lg-6
                        .shoping__checkout
                            h5 Cart Total
                            ul
                                li
                                    | Subtotal
                                    
                                    span= '$' + total
                                li
                                    | Total 
                                    span= '$' + total
                            a.primary-btn(href='#') PROCEED TO CHECKOUT
        // Shoping Cart Section End
        // Footer Section Begin
        footer.footer.spad
            .container
               
                .row
                    .col-lg-12
                        .footer__copyright
                            .footer__copyright__text
                                p
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    | Copyright ©
                                    script.
                                        document.write(new Date().getFullYear());
                                    |  All rights reserved | This template is made with 
                                    i.fa.fa-heart(aria-hidden='true')
                                    |  by 
                                    a(href='https://colorlib.com', target='_blank') Colorlib
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            .footer__copyright__payment
                                img(src='img/payment-item.png', alt='')
        // Footer Section End
        // Js Plugins
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.nice-select.min.js')
        script(src='js/jquery-ui.min.js')
        script(src='js/jquery.slicknav.js')
        script(src='js/mixitup.min.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/main.js')
